@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto-Regular.ttf') format("truetype");
  font-display: swap;
}

:root {
  padding: 0;
  margin: 0;
  background: #0d0d0d;
  color: #fff;
  font-family: -apple-system, Roboto;
}

.icon {
  display: inline;
  vertical-align: middle;
}

.container {
  width: 80%;
  margin: auto;
}

.gradient-text {
  font-weight: bold;
  background: -webkit-linear-gradient(#e8ded2, #a3d2ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px #5eaaa8;
}